




/* Верхнее меню */
.header__nav a {
  color: #242e31;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  margin: 0 auto;
  font-size: 14pt;
}
.header {
  position: absolute;
  min-width: 100vw;
  top: 0;
  left: 0;
  z-index: 20;
  height:80px;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
  display: flex;
  padding: 5px 0;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  align-self: center;
}

.header__nav {
  position: absolute;
  right: 36px;
  display: block;
}
.header__menu {
  display: flex;
  position: relative;
  z-index: 2;
  padding-right: 110px;
}
.header__menu li {
  margin: 0 0 30px 23px;
  list-style: none;

  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

@media(max-width: 767px){
  .header__nav {
    display: block;
    position: absolute;
    top: 75px;
    background: rgb(245, 246, 246);
    width: 100%;
    min-height: 100vh;;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
    transition: all 0.4s ease;
    left:-100%;
  }
  .header__menu {
    display: block;
  }
  .header__nav.open-menu{
    left:0;
  }
  .header__menu li {
    margin: 30px 0 0 33px;
    font-size: 14px;
  }
  .menu-burger__header {
    position: relative;
    width: 40px;
    height: 35px;
    display: block;
    margin-left: 10px;
  }
  .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
    height: 3px;
    width: 100%;
    position: absolute;
    background: #ff0000;
    margin: 0 auto;
  }
  .menu-burger__header span{
    top: 16px;
  }
  .menu-burger__header:after, .menu-burger__header:before{
    content: '';
  }
  .menu-burger__header:after{
    bottom: 5px;
  }
  .menu-burger__header:before{
    top: 5px;
  }
  .menu-burger__header.open-menu span {
    opacity:0;
    transition: 0.5s;
  }
  .menu-burger__header.open-menu:before {
    transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
  }
  .menu-burger__header.open-menu:after {
    transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
  }

  header {
    height: 45px;
  }
  .content-wrapper {
    margin-top: 48px;
  }
  .fixed-pade {
    overflow: hidden;
  }
}

/* Кнопка подъема наверх */
#toTop {
  margin: 15px;
  position: fixed;
  display: inline-block;
  bottom: 30px;
  right: -40px;
  width: 40px;
  height: 40px;
  z-index: 1000;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  background: #ff0000;
  box-shadow: 0 0 0 3px rgba(0,0,0,.2);
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
}
#toTop:hover {
  background: #640000;
}

#toTop svg {
  position: relative;
  top: 8px;
  right: -1px;
  fill: #fff;
  transition: all .3s ease-in-out;
}

#toTop:hover svg {
  cursor: pointer;
  fill: #fff;
  transition: all .3s ease-in-out;
}

#toTop.show {
  opacity: 1;
  visibility: visible;
  right: calc(2%);
}



.nav{
  padding-top: 100px;
}
.nav p{
  padding-left: 40px;
  font-size: 14pt;
  color: rgba(188, 18, 18, 0.91);
  font-weight: 400;
}
.nav p>a{
  color: rgba(188, 18,18, 0.91);
  font-weight: 400;
  text-decoration: underline;
}

*{
  margin: 0;
}
a{
  text-decoration: none;
}

.main_block{
  margin: 125px;
}
.main_block a{
  font-size: 18pt;
  font-weight: 1000;
}

/* Блок с карточками описаний работ */
.container_of_block h1{
  text-align: center;

}
.block_of_cards{
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  background-color: rgba(153, 153, 153, 0.62);
  align-items: center;
  justify-content: center;
  align-self: center;
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 auto;
}
.card {
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  min-width: 80px;
  max-width: 350px;
  max-height: 300px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.74);
  border-radius: 4px;
  color: white;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.82);
}
.container_text {
  padding: 8px 16px;
}
.card img{
  border-radius: 4px;
  max-width: 350px;
  max-height: 220px;

}









/* FOOTER */

